<div class="row">

    <div class="col-md-4">

        <ul class="heroes">
            <li *ngFor="let recipe of recipes"
                (click)="onSelect(recipe)">
                <span class="badge"></span> {{recipe.name}}
            </li>
        </ul>

    </div>
    <div *ngIf="selectedRecipe" class="col-md-8">
        <h4>Details</h4>

        <h6>Ingredients</h6>
        <ul class="heroes">
            <li *ngFor="let ingredient of selectedRecipe.ingredients">
                <span class="badge"></span> {{ingredient.productName}}
            </li>
        </ul>
    </div>

</div>
