@page "/product/{Id:guid}"


@if (Id != null)
{
<div class="container justify-content-center">
    <BlazorPunterHomeApp.Components.ProductDetailsComponent ProductId="Id"></BlazorPunterHomeApp.Components.ProductDetailsComponent>

</div>
}
