@page "/recipes"
@inject Blazored.Modal.Services.IModalService Modal

@using BlazorPunterHomeApp.Data;
@using BlazorPunterHomeApp.ViewModels;
@inject RecipeService RecipeService
@inject ProductService PropductService
@inject NavigationManager NavigationManager


<div class="container-fluid">
    <div class="row justify-content-center">
        <h3>Recipe</h3>
        <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6 input-group">
                <input type="text" class="form-control" placeholder="New recipe name" id="name" @bind="newRecipeName" aria-describedby="button-addon2" />

                <div class="input-group-append">

                    <button class="btn btn-primary" type="button" @onclick="HandleSubmit"><Icon Name="IconName.Add" Class="mr-2"></Icon>Product</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 input-group">
                <input type="text" class="form-control" placeholder="New recipe name" id="name" @bind-value="serachText" aria-describedby="button-addon2" />

                <div class="input-group-append">

                    <button class="btn btn-primary" type="button" @onclick="Search"><Icon Name="IconName.Search"></Icon></button>
                </div>
            </div>
        </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                @foreach (var cnt in recipes)
                {

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <a href="@($"recipe/{cnt.Id}")" class="custom-card">    
                            <div class="card" style="margin-top:5px;">
                                <image class="card-img-top" src="https://dummyimage.com/500x200/163136/ffffff.png&text=R"></image>
                                <div class="card-body">
                                    <h5 class="card-title">@cnt.Name</h5>
                                </div>
                            </div>
                        </a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

@code {
    private string RecipeAvailableColorString = "69B878";
    private string RecipeUnAvailableColorString = "DB5853";
    private RecipeViewModel RecipeViewModel;
    private string newRecipeName = string.Empty;
    private string serachText = string.Empty;

    private RecipeModel[] recipes = new RecipeModel[0];
    private RecipeModel[] allRecipes = new RecipeModel[0];

    protected override async Task OnInitializedAsync()
    {
        RecipeViewModel = new RecipeViewModel(PropductService);

        allRecipes = await RecipeViewModel.GetRecipes();
        recipes = allRecipes;

        RecipeViewModel.PropertyChanged += async (a, b) => await InvokeAsync(() => StateHasChanged());
    }

    private async void HandleSubmit()
    {
        await RecipeViewModel.CreateNewRecipe(newRecipeName);
        allRecipes = await RecipeViewModel.GetRecipes();
        recipes = allRecipes;
        StateHasChanged();

        NavigationManager.NavigateTo($"recipe/{recipes.First(r => r.Name == newRecipeName).Id}");

        newRecipeName = string.Empty;
    }

    private void Search()
    {
        recipes = allRecipes.Where(r => r.Name.Contains(serachText)).ToArray();
        StateHasChanged();
    }
}
