@page "/shoppinglist"


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-md-10">
            <h3>ShoppingList</h3>
            @foreach (var item in ListItems)
            {
                <div class="row">
                    <div class="col-12">
                        <strong>@item.ProductName</strong>

                    </div>
                </div>
                <div class="row">

                    <div class="col-4">
                        @($"{item.MeasurementVolume} {item.MeasurementType}")
                    </div>
                    <div class="col-6">
                        <div class="input-group float-right">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" @onclick="() => DecreaseQuantityToItem(item)"><Icon Name="IconName.ExpandMore"></Icon></button>
                                <span class="input-group-text">@item.Quantity</span>
                            </div>
                            <div class="input-group-append">

                                <button class="btn btn-secondary" type="button" @onclick="() => AddQuantityToItem(item)"><Icon Name="IconName.ExpandLess"></Icon></button>
                            </div>
                        </div>

                    </div>
                    <div class="col-1">
                        <button class="btn"><Icon Name="IconName.Delete" @onclick="() => DeleteItem(item)"></Icon></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><hr /></div>
                </div>
            }

        </div>
    </div>

    @if (ListItems.Count > 0)
    {

        <div class="row justify-content-md-center fixed-bottom">
            <a href="shoppinglist/@ShoppingListService.ShoppingListId/shop" class="btn btn-primary btn-puntergreen col-12 col-md-6">
                Start shopping
            </a>
        </div>
    }

</div>