@page "/shoppinglistoverview"

<Container>
    <Row>
        <Column>
            <Heading Size="HeadingSize.Is1">Boodschappenlijsten</Heading>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">

            <ListGroup>

                @foreach (var sList in ShoppingLists)
                {
                    <ListGroupItem>
                                

                            <div class="row">
                                <div class="col-10 d-flex justify-content-between">
                                    <NavLink class="text-reset d-flex" href="@($"shoppinglist/{sList.Id}{GetLinkSuffix(sList.Status)}/{sList.Name}")">
                                        <Div Class="d-flex flex-column">
                                            @*<Column ColumnSize="ColumnSize.Is9">*@

                                                <Span><Strong>@sList.Name</Strong></Span>
                                            @*</Column>*@

                                            @*<Column ColumnSize="ColumnSize.Is3" Class="d-flex justify-content-end">*@

                                                <p Class="h6"><Small>@GetStatusString(@sList.Status)</Small></p>
                                            @*</Column>*@
                                        </Div>
                                    </NavLink>
                                </div>

                                <div class="col-2 d-flex justify-content-end">
                                    <Button Outline Clicked="@(() => RemoveItem(sList))">
                                        <Icon Name="IconName.Delete"></Icon>
                                    </Button>
                                </div>
                            </div>

                       
                    </ListGroupItem>
                }

            </ListGroup>
        </Column>
    </Row>
    <Row>

    </Row>
</Container>

<Div Class="fixed-bottom fixed-bottom-bar">
    <div class="container">
        <EditForm OnValidSubmit="CreateShoppingList" Model="NewShoppingListValue">
                <div class="form-group mb-2">
                    <TextEdit Placeholder="Nieuwe lijst" @bind-Text="NewShoppingListValue.Text" />
                </div>
                <div class="form-group mb-2">
                    <button type="submit" class="btn btn-primary">Toevoegen</button>
                </div>
            </EditForm>
    </div>
    
</Div>