@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('style.css');
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100% !important;
    margin: 0;
}

.bg-highlight {
    background-color: #EEEAE4;
}

.element-shadow-5 {
    box-shadow: 0px 0px 5px grey;
}

.element-shadow-20 {
    box-shadow: 0px 0px 20px grey;
}

.checkbox-rectangle {
    border: 2px solid rgb(89, 89, 89);
    border-radius: 2px;
    content: "\00a0";
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    width: 16px;
}

.checkbox-rectangle-checked {
    background: rgb(89, 89, 89);
    color: white;
    border-radius: 2px;
    content: "\2713";
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    width: 16px;
}


.fill {
    min-height: 100%;
    height: 100%;
}

.item-row{
    background: #F0F0F0;
}

.navbar-white{
    background: white;
}

.list-group-item{
    margin: 0.1rem 0px 0.1rem 0px
}

.fixed-bottom-bar {
    box-shadow: 0px 0px 5px grey;
    padding: 15px 0px 15px 0px ;
    background: white;
}

.fixed-bottom-bar button {
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    background-image: url("../Resources/home-page-burger.jpg");
}

.landing-page-bg {
    /* The image used */
    background-image: url("../Resources/home-page-burger.jpg");
    /* Full height */
    height: 1000%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

    #bg #img {
        background-image: url("../Resources/home-page-burger.jpg");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
a, .btn-link {
    color: #0366d6;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: var(--bg-el-6);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    padding: 12px 3px 0 3px;
    vertical-align: middle;
    font-weight: bold;
    color: var(--txt-c-bg);
}

.circle-md {
    height: 50px;
    width: 50px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    padding: 12px 3px 0 3px;
    vertical-align: middle;
    font-weight: bold;
    color: black;
}

.btn-square {
    border-radius: 0 !important;
}
.btn-circle {
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
}

.recipe-available-color {
    color: #69B878;
}

.recipe-unavailable-color {
    color: #DB5853;
}

.content {
    padding-top: 0rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        min-width: 50%;
        max-height: 50%;
    }
}


@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
