
<div class="wrapper">
    <div class="check-wrapper">
    </div>

    <div class="info-wrapper">

    </div>

    <div class="count-wrapper">
        <h1>Pasta</h1>
        <h2>200 gram</h2>
    </div>
</div>