@page "/"
@using HomeApp.Frontend.View.Components

<div class="d-flex flex-column">
    <ShoppingListItemComponent></ShoppingListItemComponent>
    <ShoppingListItemComponent></ShoppingListItemComponent>
    <ShoppingListItemComponent></ShoppingListItemComponent>
</div>