<h1 id="tableLabel">Products</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead class="thead-drak">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.unitQuantity }} {{ product.unitQuantityType }}</td>
    </tr>
  </tbody>
</table>
