<Row class="mb-2">
    <Div Class="col-auto d-none d-sm-block">

        <span class="circle-md">@StepNumber</span>
    </Div>
    <Div Class="col">
        <Row>

            <h4 class="ml-3 mb-0">Stap @StepNumber</h4>
        </Row>
        <Row>

            <p class="ml-3 align-middle">@Text</p>
        </Row>

    </Div>
</Row>