<ul class="list-group list-group-horizontal">
    <li class=""
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-dark" [routerLink]="['/recipes', { outlets: { 'sub-recipe': ['overview']}}]">Overview</a>
    </li>
    <li class="" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/recipes', { outlets: { 'sub-recipe': ['new-recipe']}}]">New recipe</a>
    </li>
</ul>
<router-outlet name="sub-recipe"></router-outlet>

