@using BlazorPunterHomeApp.Data;
@using DataModels.Helpers;

@inject  ProductService ProductService

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Size</span>
        <input type="number" class="form-control" @bind="NewProductQuantity.UnitQuantityTypeVolume">
    </div>
    <select class="custom-select" @bind="NewProductQuantity.MeasurementType">
        @foreach (var cnt in SelectableUnitQuantityTypes)
        {
            <option value="@cnt">@cnt.GetEnumDescription()</option>
        }
    </select>
</div>

    <button @onclick="Cancel" class="btn btn-secondary float-right">Cancel</button>
    <button @onclick="Save" class="btn btn-primary float-right">Submit</button>
