@using BlazorPunterHomeApp.Data
@using DataModels.Helpers;
@using BlazorPunterHomeApp.ViewModels;
@inject Blazored.Modal.Services.IModalService Modal

@inject ProductService ProductService

<EditForm Model="@Product">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-12">
        <input type="text" class="form-control" placeholder="name" id="name" @bind="Product.Name" />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Size</span>
            </div>
            <input type="number" class="form-control" aria-label="Text input with checkbox" @bind="Product.UnitQuantity">
            <select class="custom-select" @bind="Product.UnitQuantityType">
                @foreach (var cnt in ProductViewModel.SelectableUnitQuantityTypes)
                {
                    <option value="@cnt">@cnt.GetEnumDescription()</option>
                }
            </select>
        </div>
    </div>

    <button @onclick="Save" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</EditForm>
