@using BlazorPunterHomeApp.Data;
@using DataModels.Helpers;

@inject ProductService ProductService
@inject RecipeService RecipeService
    <div class="row">
        <div class="col-12">

            <EditForm Model="SearchModel" OnValidSubmit="Search">
                <div class="">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Zoek product" id="name" @bind-value="SearchModel.SearchText" aria-describedby="button-addon2" />

                        <div class="input-group-append">

                            <button class="btn btn-primary" type="submit"><Icon Name="IconName.Search"></Icon></button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <ul class="list-group ">
                @foreach (var cnt in Products)
                {
                <li class="list-group-item justify-content-between">
                    <div class="d-flex justify-content-between">

                        <span>@cnt.Name</span>

                        @if (!cnt.IsAdding)
                        {
                            <button class="btn btn-sm btn-outline-secondary" @onclick="() => SetIsAdding(cnt)" type="button"><i class="fas fa-plus"></i></button>

                        }
                    </div>
                    @if (cnt.IsAdding)
                    {

                        <div class="d-flex justify-content-end">

                            <div class="input-group input-group-sm mb-3">
                                <input type="number" class="form-control" @bind="cnt.CurrentUnitQuantityTypeVolume">
                                <select class="custom-select" @bind="cnt.UnitQuantityType">
                                    @foreach (var c in SelectableUnitQuantityTypes)
                                    {
                                        <option value="@c">@c.GetEnumDescription()</option>
                                    }
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" @onclick="() => AddProduct(cnt)" type="button"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    @{
                        if (cnt.IsSelected)
                        {
                            <Blazorise.Icon Name="Blazorise.IconName.Star" />
                        }
                    }

                </li>
                }
            </ul>
        </div>
    </div>