@if (ShowModal)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="qModal" tabindex="1"
         role="dialog" aria-labelledby="qModalLabel"
         aria-hidden="true" style="display:block">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @bind="BuyDifferent">
                        <label class="form-check-label" for="flexCheckDefault">
                            Buy different
                        </label>
                    </div>
                    <div class="row p-2">
                        Required: @RequiredAmount @MeasurementType
                        Current: @CurrentSelectedAmount @MeasurementType
                    </div>
                    <ul class="list-group">
                        @foreach (var item in MeasurementsOptions)
                        {
                            <li class="list-group-item" @onclick="() => MeasurementClicked(item)">@(item.SelectedCount > 0 ? $"{item.SelectedCount} x" : "") @item.Measurement.UnitQuantityTypeVolume @item.Measurement.MeasurementType</li>
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="(() => Confrim())">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Hide">Close</button>
                </div>
            </div>

        </div>

    </div>
    }