@inherits LayoutComponentBase
@inject AppState State
@inject NavigationManager MyNavigationManager
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="container-fluid min-vh-100 " style="margin:0 !important; padding:0 !important">
    <nav class="navbar sticky-top navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light px-0" style="max-height:50px">
        <a class="navbar-brand mx-2" href="#">Navbar</a>
        <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-light px-2" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                @*<li class="nav-item">
                        <NavLink class="nav-link" href="counter">
                            Counter
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="fetchdata">
                            Fetch data
                        </NavLink>
                    </li>*@
                <li class="nav-item">
                    <NavLink class="nav-link" href="products">
                        Products
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="recipes">
                        Recipes
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="shoppinglist">
                        Shopping list
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>

        <div class="d-flex flex-column align-items-stretch  full-wo-nav">

            @Body
        </div>
</div>

@code
{
    public bool OnLandingPage = true;

    protected override Task OnInitializedAsync()
    {
        State.PageChanged += PageChanged;

        OnLandingPage = State.CurrentPage == EPage.HomePage;
        return base.OnInitializedAsync();
    }


    private void PageChanged(object s, EventArgs a)
    {
        OnLandingPage = State.CurrentPage == EPage.HomePage;
        StateHasChanged();
    }
}

